{% extends 'website/base.html' %}
{% load static %}

{% block content %}



<section class="contact-section"></section>
<footer class="footer">
    <div class="footer-grid">

        <div>
            <div>   
           <img src="{% static 'website/images/logo.png' %}" class="footer-logo">
    
        </div>

            <h3>Laxmi Glass & Aluminium House</h3>
            <p>
                Your trusted partner for premium aluminium,
                glass, and interior solutions.
            </p>
        </div>

        <div>
            <h4>Our Services</h4>
            <ul>
                <li>Aluminium Windows & Doors</li>
                <li>Glass Partitions</li>
                <li>ACP Sheet </li>
                <li>Glass Railings</li>
                <li>HPL Sheet</li>
                <li>SS Railing</li>
                <li>UPVC Sheet</li>
            </ul>
        </div>

        <div>
            <h4>Contact Us</h4>
            <p>📞 +91-8920912449</p>
            <p>📞 +91-7906232665</p>
            <p>✉️ laxmi@gmail.com</p>
            <p>📍 GGVR+758, Katheda Rd, Pink City Colony, Dadri, Uttar Pradesh 203207</p>
        </div>

        <div class="footer-cta">
            <h2>Let's Build Something<br>Strong & Beautiful<br>Together</h2>
        </div>


    </div>
</footer>

{% endblock %}