{% extends 'website/base.html' %}
{% load static %}

{% block content %}


 <section class="services">
        <h2>Our Services</h2>

        <div class="services-grid">
            {% for service in services %}
            <div class="service-card">
                {% if service.image %}
                <img src="{{ service.image.url }}" alt="{{ service.name }}">
                {% endif %}

                <h3>{{ service.name }}</h3>
                <p>{{ service.description }}</p>
            </div>
            {% empty %}
            <p>No services added yet.</p>
            {% endfor %}
        </div>
    </section>

{% endblock %}